*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

    

.container_input{
    margin-bottom: 20px;
}
input{
    padding: 3px;
    border-radius: 5px;
    width: 295px;
}
.btn-add{
    background-color:rgb(4, 168, 4);
    color:white;
    border-radius: 10px;
    padding: 3px;
}
.btn-delete{
background-color: red;
color: white;
border-radius: 10px;
padding: 3px;
}
li{background-color: rgb(220, 236, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(91, 132, 139);
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 10px;

}
p{
    color: rgb(206, 200, 200);
    padding: 3px;
}